<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('title') %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main_page.css">
</head>

<body class="container nbl-bg">
    <header class="header">
        <div class="d-flex justify-content-between align-items-center py-3 col">
            <div class="logo d-flex align-items-center">
                <img src="https://savchenkosolutions.com/img/book.png" alt="<%= __('title') %> Logo" style="width: 50px;">
                <div>
                    <p class="savchenko-color h1 mb-0" style="font-size: 1.75rem;"><%= __('title') %></p>
                    <p class="mb-0" style="color: #555; font-size: 0.9rem;"><%= __('motto') %></p>
                </div>
            </div>
            <div class="search">
                <input type="text" class="form-control" placeholder="<%= __('menu.searchPlaceholder') %>">
            </div>
            <div class="language d-flex align-items-center">
                <% if (lang === 'en') { %>
                    <span class="me-2"><strong><a href="/ru" class="text-dark text-decoration-none">EN</a></strong></span>
                <% } else { %>
                    <span class="me-2"><strong><a href="/en" class="text-dark text-decoration-none">RU</a></strong></span>
                <% } %>
                <% if (username) { %>
                    <a href="/user/<%= username %>">
                        <img src="/img/profile_images/<%= userId %>.png" alt="Profile Picture" class="rounded-circle" width="40">
                    </a>
                <% } else { %>
                    <a href="/login" class="btn btn-outline-primary rounded-pill shadow-sm"><%= __('menu.login') %></a>
                <% } %>
            </div>
        </div>
    </header>

    <main class="my-5">
        <h2 class="text-center my-5"><%= __('subtitle') %></h2>
        <div class="d-flex align-items-stretch">
            <div class="col-md-7">
                <div class="content shadow-sm br-10 p-4 h-100 bl-bg">
                    <p><%= __('description.intro') %></p>
                    <p><%= __('description.project') %> <%= __('description.team') %>. <%= __('description.moto') %> <%= __('description.contribute') %> <a href="/study-guide"><%= __('description.guide') %></a>.</p>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-stretch">
                <div class="video w-100 h-100" style="overflow: hidden;">
                    <iframe src="https://www.youtube.com/embed/d-x7Lk-mfTs" frameborder="0" allowfullscreen="" class="top-0 start-0 h-100 w-100" style="border: none; border-radius: 10px;">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-stretch">
            <div class="col-3 mt-4 d-flex align-items-stretch">
                <div class="w-100" style="overflow: hidden;">
                    <img src="https://savchenkosolutions.com/img/team.png" alt="<%= __('description.coreTeam') %>" class="img-fluid" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-9 mt-4 d-flex align-items-stretch">
                <div class="content bg-light p-4 w-100 bl-bg shadow-sm br-10">
                    <h3><%= __('description.acknowledgments') %></h3>
                    <p><%= __('description.deepestThanks') %></p>
                    <h4><%= __('description.coreTeam') %></h4>
                    <div class="core-team">
                        <a href="/user/astrosander/" style="font-size: 1.1rem;">Aliaksandr Melnichenka – Founder &amp; CEO</a>
                        <a href="/user/Luisito/" style="font-size: 1.1rem;">Luis Daniel Fernández Quintana</a>
                        <a href="/user/stefannicov/" style="font-size: 1.1rem;">Stefan Nicov</a>
                        <a href="/user/ar4senN/" style="font-size: 1.1rem;">Arsen Almashkan</a>
                        <a href="/user/a.yersh/" style="font-size: 1.1rem;">Andrei Yersh</a>
                        <a href="/user/jepkinsss/" style="font-size: 1.1rem;">Artem Levko</a>
                        <a href="/user/diikann_/" style="font-size: 1.1rem;">Dzikan Mikita</a>
                        <a href="/user/" style="font-size: 1.1rem;">See all...</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section class="container my-5">
        <div class="row">
            <div class="col-md-8 bg-white br-10 shadow-sm" >
                <% chapters.forEach((chapter, chapterIndex)=> {
                    const hasContent = chapter.sections.some(section => section.problems.some(column => column.length >
                    0));
                    if (hasContent) { %>                    
                    <p class="h3 p-0 text-center my-4">
                        <span class="text-secondary"><%= __('chapter') %> <%= chapterIndex + 1 %></span>
                        <span class="savchenko-color font-weight-bold">
                            <%= chapter.title %>
                        </span>
                    </p>
                    
                    <div class="col-12 col-md-11 border-top mt-3">
                        <% chapter.sections.forEach((section, sectionIndex)=> {
                            const hasProblems = section.problems.some(column => column.length > 0);
                            if (hasProblems) { %>
                            <p class="mt-4 mb-2 font-weight-bold">
                                § <%= section.number %> <%= section.title %>
                            </p>

                            <div class="problems-grid">
                                <% const allProblems=section.problems.flat(); allProblems.forEach((problem)=> { %>
                                    <div class="problem-item">
                                        <a href="/<%= lang %>/<%= problem %>" class="problem-link">
                                            <%= problem %>
                                        </a>
                                    </div>
                                    <% }); %>
                            </div>
                            <% } }); %>
                    </div>
                    <% } }); %>
            </div>
            <div class="col-md-4">
                <div class="top-authors text-center br-10 shadow-sm">
                    <h3 class="text-center mb-4"><%= __('description.topAuthors') %></h3>
                    <table class="table table-hover mx-auto" style="width: auto;">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" style="width: 10%; opacity: 0.8;">#</th>
                                <th scope="col" style="width: 45%; opacity: 0.8;"><%= __('description.profile') %></th>
                                <th scope="col" style="width: 45%; opacity: 0.8;"><%= __('description.contributions') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>🥇</td>
                                <td><a href="/user/Luisito" class="text-dark text-decoration-none">Luisito</a></td>
                                <td>152</td>
                            </tr>
                            <tr>
                                <td>🥈</td>
                                <td><a href="/user/ar4senN" class="text-dark text-decoration-none">ar4senN</a></td>
                                <td>127</td>
                            </tr>
                            <tr>
                                <td>🥉</td>
                                <td><a href="/user/diikann_" class="text-dark text-decoration-none">diikann_</a></td>
                                <td>116</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="/user/Ismail" class="text-dark text-decoration-none">Ismail</a></td>
                                <td>104</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a href="/user/a.yersh" class="text-dark text-decoration-none">a.yersh</a></td>
                                <td>94</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><a href="/user/jepkinsss" class="text-dark text-decoration-none">jepkinsss</a></td>
                                <td>77</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><a href="/user/_chender_" class="text-dark text-decoration-none">_chender_</a></td>
                                <td>65</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><a href="/user/Sasha" class="text-dark text-decoration-none">Sasha</a></td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td><a href="/user/Artoghrul" class="text-dark text-decoration-none">Artoghrul</a></td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td><a href="/user/Nurbaqyt" class="text-dark text-decoration-none">Nurbaqyt</a></td>
                                <td>11</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="contributions text-center mt-3 bg-white br-10 p-4 shadow-sm">
                    <h3 class="text-center mb-4"><%= __('description.contributions2') %></h3>
                    <div class="contribution-history timeline">
                        <div class="timeline-item">
                            <div class="timeline-content nbl-bg">
                                <strong>12.3.4</strong> <%= __('description.editedBy') %> astrosander 
                                <span style="font-size: 0.8rem; color: #888;">12:10 Jun 20</span>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-content nbl-bg">
                                <strong>15.3.1</strong> <%= __('description.editedBy') %> astrosander 
                                <span style="font-size: 0.8rem; color: #888;">10:02 Jun 19</span>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-content nbl-bg">
                                <strong>17.8.4</strong> <%= __('description.editedBy') %> astrosander 
                                <span style="font-size: 0.8rem; color: #888;"> 08:21 Jun 12</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>