<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en">
    <meta name="keywords" content="Savchenko Problems in Physics, Savchenko solutions, physics problems, physics olympiad preparation, IPhO, Jaan Kalda">
    <meta name="description" content="Contributors of Savchenko Solutions">
    <meta name="author" content="Aliaksandr Melnichenka">
    <meta name="date" content="2023-10" scheme="YYYY-MM">
    <meta property="og:title" content="Contributors of Savchenko Solutions">
    <meta property="og:image" content="img/logo.png">
    <meta property="og:description" content="Contributors of Savchenko Solutions">
    <meta name="yandex-verification" content="6cfda41f74038368">
    <title>File List</title>
    <link rel="stylesheet" href="/css/css-latex/style.css">
    <link rel="icon" href="../../img/logo.png" type="image/png">
    <script src="../../js/jquery-1.10.1.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            extensions: ['tex2jax.js'],
            jax: ['input/TeX', 'output/HTML-CSS'],
            tex2jax: {
                inlineMath: [['$', '$'], ['$', '$']],
                processEscapes: true,
                processClass: 'tex2jax',
                ignoreClass: 'html'
            },
            showProcessingMessages: false,
            messageStyle: 'none'
        });
    </script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            margin: 0 auto;
        }
        th, td {
            padding: 12px; /* Add padding inside cells */
            text-align: left;
            border: 1px solid #ddd; /* Border for cells */
        }
        tr:nth-child(even) {
            background-color: #f9f9f9; /* Optional: different background for even rows */
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
    </style>
</head>
<body style="max-width: 80%;">
      <header style="text-align:center;">
         <a href="../../" style="text-decoration: none;">
            <div id="logo">
               <span><img src="https://savchenkosolutions.com/img/book.png"></span><span>Savchenko Solutions</span>
            </div>
         </a>
         <p class="author">
            Solutions&nbsp;of&nbsp;Savchenko Problems&nbsp;in&nbsp;Physics <br>
            <i><b>knowledge must be free</b></i>
         </p>
      </header>

    <h1 style="text-align:center;">List of Files in Directory</h1>
    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>Language</th>
                <th>Number</th>
                <th>IP Address</th>
                <th>Size (Bytes)</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% fileDetails.forEach(file => { %>
                <tr>
                    <td><%= file.name %></td>
                    <td><%= file.language %></td>
                    <td><%= file.version %></td>
                    <td><%= file.ipAddress !== 'Unknown IP' ? file.ipAddress : 'Invalid or Missing IP' %></td>
                    <td><%= file.size %></td>
                    <td><%= file.date %></td>
                    <td><%= file.time %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
