<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <%- include('default/head_en.ejs') %>
    <title><%= __('studyGuide.title') %></title>
</head>

<body>
    <%- include('default/header.ejs') %>

    <h3 id="back-link" style="margin-top: 30px;">
        <a href="../#description">$\leftarrow$<%= __('studyGuide.backToMain') %></a>
    </h3>

    <h3 style="margin-top: 30px;">
        <strong><%= __('studyGuide.eligibility.title') %></strong>
    </h3>
    <p><%= __('studyGuide.eligibility.content') %></p>

    <h3><strong><%= __('studyGuide.howToContribute.title') %></strong></h3>
    <p><%= __('studyGuide.howToContribute.intro') %></p>
    <ol>
        <li><strong><%= __('studyGuide.howToContribute.methods.edit.title') %>:</strong>
            <%= __('studyGuide.howToContribute.methods.edit.content') %>
        </li>
        <li><strong><%= __('studyGuide.howToContribute.methods.email.title') %>:</strong>
            <%= __('studyGuide.howToContribute.methods.email.content') %>
            <a href="mailto:aliaksandr@melnichenka.com" target="_blank">aliaksandr@melnichenka.com</a>.
        </li>
    </ol>

    <p><%= __('studyGuide.howToContribute.valueStatement') %></p>

    <h3><strong><%= __('studyGuide.registration.title') %></strong></h3>
    <p><%= __('studyGuide.registration.content') %></p>
    <ul>
        <% __('studyGuide.registration.benefits').forEach(function(benefit) { %>
            <li><%= benefit %></li>
        <% }); %>
    </ul>
    <p><%= __('studyGuide.registration.conclusion') %></p>

    <%- include('default/footer_en.ejs') %>
</body>

</html>